{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="Bootstrap" id="accordion" icon="{v:extension.path.resources(path: 'Icons/icon-twitter.png')}">
		<flux:flexform.sheet name="panels">
			<flux:flexform.section name="panels">
				<flux:flexform.object name="panel">
					<flux:flexform.field.input name="title" />
					<flux:flexform.field.input name="class" />
					<flux:flexform.field.checkbox name="active" />
				</flux:flexform.object>
			</flux:flexform.section>
		</flux:flexform.sheet>
		<flux:flexform.grid>
			<f:for each="{panels}" as="panel" iteration="iteration">
				<flux:flexform.grid.row>
					<flux:flexform.grid.column>
						<flux:flexform.content name="content.{iteration.index}" label="{f:if(condition: panel.panel.title, then: panel.panel.title, else: 'Content, panel {iteration.cycle}')}" />
					</flux:flexform.grid.column>
				</flux:flexform.grid.row>
			</f:for>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">

	<v:var.set name="activeTabIndex" value="0" />
	<f:for each="{panels}" as="panel" iteration="iteration">
		<f:if condition="{panel.panel.active}"><v:var.set name="activeTabIndex" value="{iteration.index}" /></f:if>
	</f:for>

	<div class="panel-group" id="accordion-{record.uid}">
		<f:for each="{panels}" as="panel" iteration="iteration">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{record.uid}"
						   href="#panel-{record.uid}-{iteration.index}">
							{panel.panel.title}
						</a>
					</h4>
				</div>
				<div id="panel-{record.uid}-{iteration.index}" class="panel-collapse collapse {f:if(condition: '{activeTabIndex} == {iteration.index}', then: 'in')}">
					<div class="panel-body">
						<flux:flexform.renderContent area="content.{iteration.index}" />
					</div>
				</div>
			</div>
		</f:for>
	</div>

</f:section>

</div>
