{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="Bootstrap" id="alert" icon="{v:extension.path.resources(path: 'Icons/icon-twitter.png')}">
		<flux:flexform.field.input name="header" />
		<flux:flexform.field.input name="closeLinkText" />
		<flux:flexform.field.select name="class" items="warning,info,success,danger" default="default" />
		<flux:flexform.field.checkbox name="isBlock" />
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.content name="content" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="alert alert-{class} {f:if(condition: isBlock, then: 'alert-block')}">
		<f:if condition="{closeLinkText}">
			<a class="close" data-dismiss="alert"><f:format.raw>{closeLinkText}</f:format.raw></a>
		</f:if>
		<f:if condition="{header}">
			<h1 class="alert-heading">{header}</h1>
		</f:if>
		<flux:flexform.renderContent area="content" />
	</div>
</f:section>

</div>