{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />

<f:section name="Configuration">
	<flux:flexform wizardTab="Bootstrap" id="herounit" icon="{v:extension.path.resources(path: 'Icons/icon-twitter.png')}">
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.content name="content" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="jumbotron">
		<flux:flexform.renderContent area="content" />
	</div>
</f:section>