{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="Bootstrap" id="well" icon="{v:extension.path.resources(path: 'Icons/icon-twitter.png')}">
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.content name="content" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
		<flux:flexform.field.select name="wellStyle" label="Optional Well Style Class"
			commaSeparatedItems="small, normal, large" default="normal" />
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="well{f:if(condition: '{0: wellStyle} != {0: "normal"}', then: ' well-{wellStyle}')}">
		<flux:content.render area="content" />
	</div>
</f:section>
</div>
